.expenses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

.info {
  text-align: center;
}

@media only screen and (max-width: 57.5em) {
  .expenses {
    grid-template-columns: 1fr;
  }
}
