.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__logo {
  display: flex;
  align-items: center;
  font-size: 2.6rem;
  font-weight: 500;
  gap: 1rem;
  background-color: #6e5fc2;
  border-radius: 1rem;
  color: #fff;
}

.header__logo img {
  max-height: 6rem;
}

.header__logo p {
  padding-right: 2.5rem;
}

@media only screen and (max-width: 57.5em) {
  .header {
    grid-template-columns: 1fr;
  }

  .header__logo {
    text-align: center;
  }
}
