.button {
  cursor: pointer;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
}

.button--arrow {
  background-color: #efefef;
}

.button--add {
  background-color: #fff;
  justify-self: self-end;
}

.button--cancel {
  background-color: #fff;
}

.button--confirm {
  background-color: var(--accent-color);
  color: #fff;
}

.button--hidden {
  visibility: hidden;
}

@media only screen and (max-width: 57.5em) {
  .button--add {
    width: 100%;
    margin-top: 3rem;
  }

  .button--cancel {
    flex: 1 0 100%;
  }

  .button--confirm {
    margin-top: 3rem;
    flex: 1 0 100%;
  }
}
